/*-------------------CART PAGE-------------------*/

.title {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}

.title h8 {
    font-family: "roboto", sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    font-weight: bold;
    color: black;
}

.cart-page {
    background: #fff;
    width: 940px;
    height: 314px;
    margin: 80px auto;
    position: relative;
    margin-top: 40px;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.cart-info {
    font-family: "roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.cart-info a {
    color: #0000cd;
    font-size: 15px;
}

table {
    width: 100%;
    border: black;
    border-collapse: collapse;
    margin-left: 0px;
    padding: 10px 14px;
}

th {
    text-align: left;
    padding: 25px;
    font-size: 23px;
    font-family: "roboto", sans-serif;
    color: white;
    background: black;
    font-weight: normal;
}

td {
    padding: 12px 15px;
    border-bottom: 2px solid black;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    color: #111;
}

td h2 {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #111;
}

.checkout ul {
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 350px;
    height: 180px;
    margin: 80px auto;
    position: relative;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.checkout ul li {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    color: #111;
    text-transform: uppercase;
    overflow: hidden;
}

.checkout ul li .subtotal {
    font-weight: lighter;
    text-transform: capitalize;
    border-bottom: 1px solid #111;
    padding-bottom: 14px;
}

.checkout ul li .subtotal span {
    font-weight: bold;
}

.checkout ul li .cart-total {
    padding-top: 10px;
}

.checkout ul li .cart-total span {
    color: #111;
}

.checkout ul li span {
    float: right;
}

.checkout ul li .proceed-btn {
    margin-left: 58px;
    font-family: "roboto", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: #0000cd;
    padding: 7px 15px;
    box-shadow: 0px 2px 4px 8px rgba(119, 119, 119, 0.2);
    cursor: pointer;
    margin-top: 15px;
}


/*--------------------PROFILE PAGE--------------------*/

.profile-container {
    background: #fff;
    width: 590px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
    border-color: #0000cd;
    box-shadow: 2px 5px 20px rgba(7, 0, 0, 0.5);
}

.tabShow {
    transition: all 0.5s ease-in;
    width: 80%;
    padding-top: 10px;
    margin-left: 40px;
}

.img {
    display: flex;
    padding-top: 15px;
    margin-left: 2px;
    float: left;
}

.img h1 {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #000;
    font-size: 1.2rem;
    margin-top: 15px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-size: 1.2rem;
    margin-top: 65px;
    margin-bottom: 35px;
}

h2 {
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 5px;
}

h5 {
    margin-top: 80px;
    margin-right: 80px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}

.ace {
    text-align: center;
    align-items: center;
    padding-bottom: 30px;
}

.ace h9 {
    color: #000;
    font-size: 1.9rem;
    font-style: italic;
    font-weight: 400;
    padding-right: 130px;
    margin-left: 130px;
    text-decoration: underline;
}

.order {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
}

.order td,
.order th {
    padding: 19px 15px;
    padding-left: 20px;
    margin-left: 50px;
    border: 1px solid #111;
    text-align: center;
    align-items: center;
    font-size: 15px;
}

span {
    font-size: 0.7em;
    color: #777;
}

.btn {
    text-transform: uppercase;
    color: #fff;
    background: #0000cd;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 8px rgba(119, 119, 119, 0.2);
}

.create-account-text {
    text-align: center;
}

.login-link {
    margin-top: 20px;
    text-align: center;
}