.apple-button {
  transition: all 0.5s ease;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1.5em;
  background-color: white;
  text-align: center;
  display: inline-block;
  position: absolute;
  margin-left: 250px;
  margin-top: 25px;
}

.samsung-button {
  transition: all 0.5s ease;
  text-align: center;
  border: 1px solid transparent;
  font-size: 1.5em;
  background-color: white;
  display: inline-block;
  position: absolute;
  margin-left: 920px;
  margin-top: 25px;
}

.samsung-button:hover {
  color: #001f3f;
  background-color: rgba(142, 192, 204, 0.473);
}

.apple-button:hover {
  color: #001f3f;
  background-color: rgba(142, 192, 204, 0.473);
}

.home-button-tag{
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 1900;
}
